.cell-berserk
  background-color: red
  background-image: url("img/Berserk.png")
  background-size: contain
.cell-container
  height: 100px
.cell-mage
  background-color: green
  background-image: url("img/Mage.png")
  background-size: contain
.cell-archer
  background-color: blue
  background-image: url("img/Archor.png")
  background-size: contain