.cell-witchdoctor
  background-color: #6b00a8
  background-image: url("img/WitchDoctor.png")
  background-size: contain
.cell-berserk
  background-color: #6b00a8
  background-image: url("img/Berserk.png")
  background-size: contain
.cell-container
  position: relative
  height: 100px
  width: 100px
  font-size: 16px
  border-left: 6px solid #282c34

.cell-mage
  background-color: #6b00a8
  background-image: url("img/Mage.png")
  background-size: contain
.cell-archer
  background-color: #6b00a8
  background-image: url("img/Archor.png")
  background-size: contain
.cell-hexer
  background-color: #6b00a8
  background-image: url("img/Hexer.png")
  background-size: contain
.cell-attackable
  background-color: #a81700
  border-radius: 50px
  cursor: pointer
.cell-active
  background-color: #00a86b
.cell-dead
  background-image: none
  background-color: #6b00a8
.cell-health
  height: 10px
  position: absolute
  background-color: green
  z-index: 100
  bottom: 0
  left: 0
.cell-hexed::after
  content: ""
  position: absolute
  width: 50px
  height: 40px
  background-image: url("img/Silence.png")
  background-size: contain